<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h3>Welcome to LG-Virtual Remote</h3>

    <div class="volume">
        <h1>Volume</h1>
        <form action="#" method="post">
            <input type = "text" name = "vol" placeholder="Type..">
            <input type = "submit" value="Submit">
        </form>

        <br>

        <div class="wrapper">
            <div class="button">
                <div class="icon"><i action = "{{ url_for('static', filename='js/sample.js') }}" method = "POST" class="fa fa-play" aria-hidden="true"></i></div>
                <span>Play</span>
            </div>
            <div class="button">
                <div class="icon">
                    <i class="fa fa-pause" aria-hidden="true"></i>
                </div>
                <span>Pause</span>
            </div>
            <div class="button">
                <div class="icon">
                    <i class="fa fa-stop" aria-hidden="true"></i>
                </div>
                <span>Stop</span>
            </div>
            <div class="button">
                <div class="icon">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                </div>
                <span>Backward</span>
            </div>
            <div class="button">
                <div class="icon">
                    <i class="fa fa-forward" aria-hidden="true"></i>
                </div>
                <span>Forward</span>
            </div>
        </div>
    </div>

    <br>

    <div class="notify">
        <h1>Message</h1>
        <form action="#" method="post">
            <input type = "text" name = "notify" placeholder="Type..">
            <input type = "submit" value="Submit">
        </form>
    </div>

    <!-- <div class="something">
        <h1>Do you wanna say something?</h1>
        <form>
            <input type = "text" name = "" placeholder="Type..">
            <input type="submit" name="" value="Submit">
        </form>
    </div> -->

    <script type = "text/javascript">
        const buttons = document.querySelectorAll('a')
        buttons.forEach(btn => {
            btn.addEventListener('click', function(e){
                let x = e.clientX - e.target.offsetLeft;
                let y = e.clientY - e.target.offsetTop;

                let ripples = document.createElement('span')
                ripples.style.left = x + 'px';
                ripples.style.top = y + 'px';
                this.appendChild(ripples);

                setTimeout(() => {
                    ripples.remove()
                }, 1000);
            })
        })
    </script>
</body>
</html>